# Server Port (defaults to 3000)
PORT=3000

# Optional server-level Last.fm API Key (obtain from https://www.last.fm/api/account/create)
LASTFM_API_KEY=""

# Optional server-level Last.fm API Secret
LASTFM_API_SECRET=""
